[submodule "sources/potion-ruby"]
	path = sources/repla-ruby
	url = git@github.com:repla-app/repla-ruby.git
[submodule "sources/bundles/Search.wcplugin"]
	path = sources/bundles/Search.wcplugin
	url = git@github.com:repla-app/Search.wcplugin.git
[submodule "sources/bundles/Node.wcplugin"]
	path = sources/bundles/Node.wcplugin
	url = git@github.com:repla-app/Node.wcplugin.git
[submodule "sources/bundles/Markdown.wcplugin"]
	path = sources/bundles/Markdown.wcplugin
	url = git@github.com:repla-app/Markdown.wcplugin.git
[submodule "sources/bundles/Log.wcplugin"]
	path = sources/bundles/Log.wcplugin
	url = git@github.com:repla-app/Log.wcplugin.git
[submodule "sources/bundles/HTML.wcplugin"]
	path = sources/bundles/HTML.wcplugin
	url = git@github.com:repla-app/HTML.wcplugin.git
[submodule "sources/bundles/Coffee.wcplugin"]
	path = sources/bundles/Coffee.wcplugin
	url = git@github.com:repla-app/Coffee.wcplugin.git
[submodule "sources/bundles/IRB.wcplugin"]
	path = sources/bundles/IRB.wcplugin
	url = git@github.com:repla-app/IRB.wcplugin.git
